@import url('./styles/reset.css');
@import url('./styles/cabecalho.css');
@import url('./styles/banner.css');
@import url('./styles/metricas.css');
@import url('./styles/vagas.css');
@import url('./styles/depoimentos.css');
@import url('./styles/rodape.css');

:root {
  --cor-fundo: #FFFFFF;
  --fonte-principal: 'Inter', sans-serif;
}

body {
  background-color: var(--cor-fundo);
  font-family: var(--fonte-principal);
}

section {
  margin: 0 7rem 0 7rem;
}

@media screen and (max-width: 1200px) {
  section {
    margin: 0 3% 0 3%;
  }
}
