.metricas-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;  
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 3rem 1rem;
  gap: 0.5rem;
}

.titulo__principal-metricas {
  color: #8E2424;
  font-weight: 600;
  font-size: 3.75rem;
}

.titulo__secundario-metricas {
  color: #101828;
  font-weight: 500;
  font-size: 1.125rem;
}

.texto__metricas {
  color: #667085;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
}
